# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: Copyright 2020-2026 OpenRTX Contributors
#
# OpenOCD configuration file for in-circuit debugging the stm32f4discovery
# To start debugging issue those commands:
#    arm-miosix-eabi-gdb main.elf
#    target remote :3333
#    monitor reset halt
#    load
#    break main
#    continue
#

# Daemon configuration
telnet_port 4444
gdb_port 3333

# Board support is available in newer oocd
source [find board/stm32f4discovery.cfg]
