# Meson build dirs
build_*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Binaries
*.bin
*.elf
*.hex
*.map

# Python byte-compiled
*/__pycache__

# Kdevelop files
*.kdev4
.kdev4/

# gutentags
tags


# subprojects
subprojects/radio_tool
subprojects/codec2
subprojects/tinyusb

# ignore log files
*.log

# ignore linux openrtx emulator history file
.emulatorsh_history

# ignore bin2sgl
!scripts/bin2sgl.Linux.bin
!scripts/bin2sgl.exe

# Codec2 binaries for windows
!scripts/c2dec.exe
!scripts/c2enc.exe
!scripts/libcodec2.so
!scripts/libcodec2.dll
