# udev rules for DFU mode on radios supported by OpenRTX
# Place this in /etc/udev/rules.d/ to let non-root users talk to the radios.

# Radioddity GD77
SUBSYSTEM=="usb", ATTRS{idVendor}=="15a2", ATTRS{idProduct}=="0073", MODE="0666"
# Tytera MD-UV380
SUBSYSTEM=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="df11", MODE="0666"
