# SPDX-FileCopyrightText: Copyright 2020-2026 OpenRTX Contributors
#
# SPDX-License-Identifier: GPL-3.0-or-later
#
# LilyGo T-TWR Plus board configuration

config BOARD_TTWRPLUS
	bool "LilyGo T-TWR Plus Board"
	depends on SOC_SERIES_ESP32S3

choice SOC_PART_NUMBER
	default SOC_ESP32S3_WROOM_N16R8
endchoice
