/*
 * SPDX-License-Identifier: Apache-2.0
 */
/dts-v1/;

#include "ttwr-common.dtsi"

/ {
    model = "LILYGO T-TWR Plus 2.0";
    compatible = "espressif,esp32s3";

    aliases {
        sh1106-alt = &sh1106;
    };
};
