# SPDX-License-Identifier: Apache-2.0
CONFIG_SOC_CSK6=y
CONFIG_UART_CSK6=y


# Enable logging
CONFIG_LOG=y
CONFIG_LOG_BACKEND_UART=y
#CONFIG_LOG_MODE_IMMEDIATE=y
CONFIG_LOG_PRINTK=y
# Enable UART backend


#CONFIG_SERIAL=y
#CONFIG_UART_INTERRUPT_DRIVEN=y
#CONFIG_UART_USE_RUNTIME_CONFIGURE=y
CONFIG_ASSERT=y
CONFIG_SPI=y

CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
#CONFIG_UART_LINE_CTRL=y
CONFIG_BOARD_C62=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=300000000

CONFIG_MAIN_STACK_SIZE=2048
CONFIG_ISR_STACK_SIZE=2048
CONFIG_HEAP_MEM_POOL_SIZE=2048

CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y
CONFIG_FPU=y

CONFIG_ENTROPY_GENERATOR=y
CONFIG_ENTROPY_CSK6_RNG=y


CONFIG_DISPLAY=y
CONFIG_ST7735R=y
CONFIG_SPI_CSK6=y

CONFIG_SHELL=y

CONFIG_ADC=n
CONFIG_ADC_SHELL=n
CONFIG_ADC_CSK6=n