# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_CSK6=y
CONFIG_BOARD_C62=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=300000000

# console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y

CONFIG_MAIN_STACK_SIZE=2048
CONFIG_ISR_STACK_SIZE=2048
CONFIG_HEAP_MEM_POOL_SIZE=2048

CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y
CONFIG_FPU=y


CONFIG_ENTROPY_GENERATOR=y
CONFIG_ENTROPY_CSK6_RNG=y
